body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body{
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

body{ 
    background-image: url("images/body-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    background-color: rgba(255, 112, 93);
}

.main_container{
    font-family: Arial, sans-serif;
    font-size: 20px;

    width: 300px;

    padding:25px;

    border: 0;
    border-radius: 10%;

    box-shadow: 0 16px 32px rgba(49, 49, 49, 0.7);

    background-color: rgb(17, 47, 51, 0.15);
}

.inputUsername{
    font-size: large;
    font-weight: bold;

    color: rgb(17, 47, 51);
    background-color: rgba(162, 190, 194, 0.8);

    border: 0;
    border-radius:  30px;

    height: 5%;
    width: 100%;

    padding-left: 10px;

    transition: background-color 0.4s ease-out;
}

.inputUsername:hover{
    background-color:rgb(250, 235, 215, 0.1);
    color: rgb(17, 47, 51);
}

.inputUsername::placeholder{
    color: rgb(17, 47, 51);

    font-weight: bold;
    font-size: medium;
}

.inputPassword{
    font-size: large;
    font-weight: bold;

    color: rgb(17, 47, 51);
    background-color: rgba(162, 190, 194, 0.8);

    border: 0;
    border-radius:  30px;

    height: 5%;
    width: 100%;

    padding-left: 10px;

    transition: background-color 0.4s ease-out;
}

.inputPassword:hover{
    background-color:rgb(250, 235, 215, 0.1);
    color: rgb(17, 47, 51);
}

.inputPassword::placeholder{
    color: rgb(17, 47, 51);

    font-weight: bold;
    font-size: medium;
}

.login_button{
    font-weight: bold;
    font-size: medium;

    color: rgb(17, 47, 51);
    background-color: rgba(162, 190, 194, 0.8);

    border: 0;
    border-radius:  30px 0px 0px 30px;

    height: 5%;
    width: 42%;

    transition: background-color 0.4s ease-out;
}

.login_button:hover{
    background-color:rgb(250, 235, 215, 0.1);
    color: rgb(17, 47, 51);
}

.register_button{
    font-weight: bold;
    font-size: medium;

    color: rgb(17, 47, 51);
    background-color: rgba(162, 190, 194, 0.8);

    border: 0;
    border-radius:  0px 30px 30px 0px;

    height: 5%;
    width: 56%;

    transition: background-color 0.4s ease-out;
}

.register_button:hover{
    background-color:rgb(250, 235, 215, 0.1);
    color: rgb(17, 47, 51);
}

.login_error{
    width: 100%;
    height: 70%;

    display: grid;
    justify-items: center;
    align-items: center;
}

#error_message{
    width: 23%;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid;
    opacity: 0;
}

#ok_button{
    font-size: 12px;
    opacity: 0;
}